<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="applicable-device" content="pc,mobile" />
<title>旅游攻略 旅游攻略大全 uta</title>
<link href="__index__/css/lyglyl.css" type="text/css" rel="stylesheet"/>
<link href="__index__/css/list.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="__index__/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="wraper">
<div class="header">
<div class="hd-box">
<div class="logo"><a href="/"><img src="__index__/picture/logo.png" alt="uta" /></a></div>
<div class="nav">
<div class="trigger"></div>
<ul>
<li class="active"><a href="{:url('lyglyl')}">旅游攻略</a></li>
<li><a href="{:url('jd/jdyly')}">旅游景点</a></li>
</ul>
</div>
<div id="search" class="search">
<form action="{:url('Search/lst')}" method="post" id="hd_form" target="_blank">
<input type="text" class="input-text" value="" id="hd-input" name="key" placeholder="请输入关键字"/>
<input type="submit" class="input-button" value="搜索"/>
</form>
</div>
</div>
</div>
<div class="container">
<div class="main">
<div class="breadcrumb">
<div class="breadcrumb-box">
<a href="/">联途</a>
<span>&gt;</span>
<strong>旅游攻略</strong>
</div>
<div class="share" id="bdshare">
<div class="bdsharebuttonbox"></div>
</div>
</div>
<div class="sort" id="lygl">
<div class="hd">旅游攻略</div>
<div class="bd">
<div class="bd-box">
<dl>
<dd>
<a href="{:url('glyl',array('type'=>1))}" target="_blank">游玩攻略</a>
<a href="{:url('glyl',array('type'=>2))}" target="_blank">美食攻略</a>
<a href="{:url('glyl',array('type'=>3))}" target="_blank">住宿攻略</a>
<a href="{:url('glyl',array('type'=>4))}" target="_blank">购物攻略</a>
</dd>
</dl>
</div>
</div>
</div>
<div class="recommend">
<div class="hd">
<span>推荐旅游攻略</span>
</div>
<div class="bd">
<ul>
{volist name="tjglArts" id="tjgl"}
<li><a href="{:url('index',array('id'=>$tjgl['id']))}" target="_blank">{$tjgl.title}</a></li>
{/volist}


</ul>
</div>
</div>


<div class="recommend">
<div class="hd">
<span><a href="{:url('glyl',array('type'=>1))}" target="_blank">游玩攻略</a></span>
<a href="{:url('glyl',array('type'=>'1'))}" target="_blank" title="游玩攻略">更多&gt;&gt;</a>
</div>
<div class="bd">
<ul>
{volist name="ywglArts" id="ywgl"}
<li><a href="{:url('index',array('id'=>$ywgl['id']))}" target="_blank">{$ywgl.title}</a></li>
{/volist}

</ul>
</div>
</div>


<div class="recommend">
<div class="hd">
<span><a href="{:url('glyl',array('type'=>2))}" target="_blank">美食攻略</a></span>
<a href="{:url('glyl',array('type'=>2))}" target="_blank" title="美食攻略">更多&gt;&gt;</a>
</div>
<div class="bd">
<ul>
{volist name="msglArts" id="msgl"}
<li><a href="{:url('index',array('id'=>$ywgl['id']))}" target="_blank">{$msgl.title}</a></li>
{/volist}
</ul>
</div>
</div>


<div class="recommend">
<div class="hd">
<span><a href="{:url('glyl',array('type'=>3))}" target="_blank">住宿攻略</a></span>
<a href="{:url('glyl',array('type'=>3))}" target="_blank" title="住宿攻略">更多&gt;&gt;</a>
</div>
<div class="bd">
<ul>
{volist name="zsglArts" id="zsgl"}
<li><a href="{:url('index',array('id'=>$zsgl['id']))}" target="_blank">{$zsgl.title}</a></li>
{/volist}
</ul>
</div>
</div>


<div class="recommend">
<div class="hd">
<span><a href="{:url('glyl',array('type'=>4))}" target="_blank">购物攻略</a></span>
<a href="{:url('glyl',array('type'=>4))}" target="_blank" title="购物攻略">更多&gt;&gt;</a>
</div>
<div class="bd">
<ul>
{volist name="gwglArts" id="gwgl"}
<li><a href="{:url('index',array('id'=>$gwgl['id']))}" target="_blank">{$gwgl.title}</a></li>
{/volist}

</ul>
</div>
</div>




</div>
</div>
<div class="footer">
<div class="ft-box">
<p><a href="{:url('index/index')}">uta旅游网</a> &copy;2017</p>
</div>
</div>
<script type="text/javascript" src="__index__/js/common.js"></script>
</div>
<div class="hide">
<script type="text/javascript" src="__index__/js/tongji.js"></script>
</div>
</body>
</html>